In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Mental Health Dataset.csv")

In [3]:
df.head

<bound method NDFrame.head of               Timestamp  Gender        Country Occupation self_employed  \
0       8/27/2014 11:29  Female  United States  Corporate           NaN
1       8/27/2014 11:31  Female  United States  Corporate           NaN
2       8/27/2014 11:32  Female  United States  Corporate           NaN
3       8/27/2014 11:37  Female  United States  Corporate            No
4       8/27/2014 11:43  Female  United States  Corporate            No
...                 ...     ...            ...        ...           ...
292359  7/27/2015 23:25    Male  United States   Business           Yes
292360   8/17/2015 9:38    Male   South Africa   Business            No
292361  8/25/2015 19:59    Male  United States   Business            No
292362   9/26/2015 1:07    Male  United States   Business            No
292363   2/1/2016 23:04    Male  United States   Business            No

       family_history treatment Days_Indoors Growing_Stress Changes_Habits  \
0                  No       Yes    1-14 days            Yes             No
1                 Yes       Yes    1-14 days            Yes             No
2                 Yes       Yes    1-14 days            Yes             No
3                 Yes       Yes    1-14 days            Yes             No
4                 Yes       Yes    1-14 days            Yes             No
...               ...       ...          ...            ...            ...
292359            Yes       Yes   15-30 days             No          Maybe
292360            Yes       Yes   15-30 days             No          Maybe
292361            Yes        No   15-30 days             No          Maybe
292362            Yes       Yes   15-30 days             No          Maybe
292363            Yes       Yes   15-30 days             No          Maybe

       Mental_Health_History Mood_Swings Coping_Struggles Work_Interest  \
0                        Yes      Medium               No            No
1                        Yes      Medium               No            No
2                        Yes      Medium               No            No
3                        Yes      Medium               No            No
4                        Yes      Medium               No            No
...                      ...         ...              ...           ...
292359                    No         Low              Yes            No
292360                    No         Low              Yes            No
292361                    No         Low              Yes            No
292362                    No         Low              Yes            No
292363                    No         Low              Yes            No

       Social_Weakness mental_health_interview care_options
0                  Yes                      No     Not sure
1                  Yes                      No           No
2                  Yes                      No          Yes
3                  Yes                   Maybe          Yes
4                  Yes                      No          Yes
...                ...                     ...          ...
292359           Maybe                   Maybe     Not sure
292360           Maybe                      No          Yes
292361           Maybe                      No           No
292362           Maybe                      No          Yes
292363           Maybe                      No          Yes

[292364 rows x 17 columns]>

In [4]:
df

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
0,8/27/2014 11:29,Female,United States,Corporate,NaN,No,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Not sure
1,8/27/2014 11:31,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,No
2,8/27/2014 11:32,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes
3,8/27/2014 11:37,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,Maybe,Yes
4,8/27/2014 11:43,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292359,7/27/2015 23:25,Male,United States,Business,Yes,Yes,Yes,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,Maybe,Not sure
292360,8/17/2015 9:38,Male,South Africa,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,No,Yes
292361,8/25/2015 19:59,Male,United States,Business,No,Yes,No,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,No,No
292362,9/26/2015 1:07,Male,United States,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,No,Yes
292363,2/1/2016 23:04,Male,United States,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,No,Yes

In [5]:
df.dtypes

Timestamp                  object
Gender                     object
Country                    object
Occupation                 object
self_employed              object
family_history             object
treatment                  object
Days_Indoors               object
Growing_Stress             object
Changes_Habits             object
Mental_Health_History      object
Mood_Swings                object
Coping_Struggles           object
Work_Interest              object
Social_Weakness            object
mental_health_interview    object
care_options               object
dtype: object

In [6]:
df = df.drop(columns=["Timestamp"])

In [7]:
binary_col = ['family_history', 'treatment', 'Growing_Stress', 'Changes_Habits',
               'Mental_Health_History', 'Coping_Struggles',
               'Work_Interest', 'Social_Weakness']
for col in binary_col:
    df[col]=df[col].map({"Yes":1,"No":0})

In [8]:
df.dtypes

Gender                      object
Country                     object
Occupation                  object
self_employed               object
family_history               int64
treatment                    int64
Days_Indoors                object
Growing_Stress             float64
Changes_Habits             float64
Mental_Health_History      float64
Mood_Swings                 object
Coping_Struggles             int64
Work_Interest              float64
Social_Weakness            float64
mental_health_interview     object
care_options                object
dtype: object

In [9]:
df['Mood_Swings']=df['Mood_Swings'].map({"Yes":1,"No":0})

In [10]:
df.dtypes

Gender                      object
Country                     object
Occupation                  object
self_employed               object
family_history               int64
treatment                    int64
Days_Indoors                object
Growing_Stress             float64
Changes_Habits             float64
Mental_Health_History      float64
Mood_Swings                float64
Coping_Struggles             int64
Work_Interest              float64
Social_Weakness            float64
mental_health_interview     object
care_options                object
dtype: object

In [11]:
df["Growing_Stress"]

0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
292359    0.0
292360    0.0
292361    0.0
292362    0.0
292363    0.0
Name: Growing_Stress, Length: 292364, dtype: float64

In [12]:
df.fillna('Unknown', inplace=True)

C:\Users\Priyansh Singh\AppData\Local\Temp\ipykernel_22848\2825310197.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('Unknown', inplace=True)

In [13]:
df

,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
0,Female,United States,Corporate,Unknown,0,1,1-14 days,1.0,0.0,1.0,Unknown,0,0.0,1.0,No,Not sure
1,Female,United States,Corporate,Unknown,1,1,1-14 days,1.0,0.0,1.0,Unknown,0,0.0,1.0,No,No
2,Female,United States,Corporate,Unknown,1,1,1-14 days,1.0,0.0,1.0,Unknown,0,0.0,1.0,No,Yes
3,Female,United States,Corporate,No,1,1,1-14 days,1.0,0.0,1.0,Unknown,0,0.0,1.0,Maybe,Yes
4,Female,United States,Corporate,No,1,1,1-14 days,1.0,0.0,1.0,Unknown,0,0.0,1.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292359,Male,United States,Business,Yes,1,1,15-30 days,0.0,Unknown,0.0,Unknown,1,0.0,Unknown,Maybe,Not sure
292360,Male,South Africa,Business,No,1,1,15-30 days,0.0,Unknown,0.0,Unknown,1,0.0,Unknown,No,Yes
292361,Male,United States,Business,No,1,0,15-30 days,0.0,Unknown,0.0,Unknown,1,0.0,Unknown,No,No
292362,Male,United States,Business,No,1,1,15-30 days,0.0,Unknown,0.0,Unknown,1,0.0,Unknown,No,Yes
292363,Male,United States,Business,No,1,1,15-30 days,0.0,Unknown,0.0,Unknown,1,0.0,Unknown,No,Yes

In [14]:
cols_to_encode = ['Gender', 'self_employed', 'mental_health_interview', 'care_options']

In [15]:
df = pd.get_dummies(df, columns=cols_to_encode)

In [16]:
df

,Country,Occupation,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,...,Gender_Male,self_employed_No,self_employed_Unknown,self_employed_Yes,mental_health_interview_Maybe,mental_health_interview_No,mental_health_interview_Yes,care_options_No,care_options_Not sure,care_options_Yes
0,United States,Corporate,0,1,1-14 days,1.0,0.0,1.0,Unknown,0,...,False,False,True,False,False,True,False,False,True,False
1,United States,Corporate,1,1,1-14 days,1.0,0.0,1.0,Unknown,0,...,False,False,True,False,False,True,False,True,False,False
2,United States,Corporate,1,1,1-14 days,1.0,0.0,1.0,Unknown,0,...,False,False,True,False,False,True,False,False,False,True
3,United States,Corporate,1,1,1-14 days,1.0,0.0,1.0,Unknown,0,...,False,True,False,False,True,False,False,False,False,True
4,United States,Corporate,1,1,1-14 days,1.0,0.0,1.0,Unknown,0,...,False,True,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292359,United States,Business,1,1,15-30 days,0.0,Unknown,0.0,Unknown,1,...,True,False,False,True,True,False,False,False,True,False
292360,South Africa,Business,1,1,15-30 days,0.0,Unknown,0.0,Unknown,1,...,True,True,False,False,False,True,False,False,False,True
292361,United States,Business,1,0,15-30 days,0.0,Unknown,0.0,Unknown,1,...,True,True,False,False,False,True,False,True,False,False
292362,United States,Business,1,1,15-30 days,0.0,Unknown,0.0,Unknown,1,...,True,True,False,False,False,True,False,False,False,True
292363,United States,Business,1,1,15-30 days,0.0,Unknown,0.0,Unknown,1,...,True,True,False,False,False,True,False,False,False,True

In [17]:
# Loop over all columns and convert string/bool "True"/True → 1, "False"/False → 0
for col in df.columns:
    if df[col].isin([True, False, 'True', 'False']).all():
        df[col] = df[col].replace({True: 1, False: 0, 'True': 1, 'False': 0})

C:\Users\Priyansh Singh\AppData\Local\Temp\ipykernel_22848\3769311686.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].replace({True: 1, False: 0, 'True': 1, 'False': 0})

In [18]:
print(df['Growing_Stress'].unique())
df['Growing_Stress'] = df['Growing_Stress'].replace('Unknown', -1)

[1.0 0.0 'Unknown']

C:\Users\Priyansh Singh\AppData\Local\Temp\ipykernel_22848\3803077477.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Growing_Stress'] = df['Growing_Stress'].replace('Unknown', -1)

In [19]:
print(df['Growing_Stress'].unique())

[ 1.  0. -1.]

In [20]:
df

,Country,Occupation,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,...,Gender_Male,self_employed_No,self_employed_Unknown,self_employed_Yes,mental_health_interview_Maybe,mental_health_interview_No,mental_health_interview_Yes,care_options_No,care_options_Not sure,care_options_Yes
0,United States,Corporate,0,1,1-14 days,1.0,0.0,1.0,Unknown,0,...,0,0,1,0,0,1,0,0,1,0
1,United States,Corporate,1,1,1-14 days,1.0,0.0,1.0,Unknown,0,...,0,0,1,0,0,1,0,1,0,0
2,United States,Corporate,1,1,1-14 days,1.0,0.0,1.0,Unknown,0,...,0,0,1,0,0,1,0,0,0,1
3,United States,Corporate,1,1,1-14 days,1.0,0.0,1.0,Unknown,0,...,0,1,0,0,1,0,0,0,0,1
4,United States,Corporate,1,1,1-14 days,1.0,0.0,1.0,Unknown,0,...,0,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292359,United States,Business,1,1,15-30 days,0.0,Unknown,0.0,Unknown,1,...,1,0,0,1,1,0,0,0,1,0
292360,South Africa,Business,1,1,15-30 days,0.0,Unknown,0.0,Unknown,1,...,1,1,0,0,0,1,0,0,0,1
292361,United States,Business,1,0,15-30 days,0.0,Unknown,0.0,Unknown,1,...,1,1,0,0,0,1,0,1,0,0
292362,United States,Business,1,1,15-30 days,0.0,Unknown,0.0,Unknown,1,...,1,1,0,0,0,1,0,0,0,1
292363,United States,Business,1,1,15-30 days,0.0,Unknown,0.0,Unknown,1,...,1,1,0,0,0,1,0,0,0,1

In [21]:
cols_to_drop = [
    'Country', 'Days_Indoors', 'Mood_Swings', 'self_employed_Unknown',  # Drop one from each one-hot group
    'mental_health_interview_Maybe',
    'care_options_Not sure'
]

df.drop(columns=cols_to_drop, inplace=True)

In [22]:
df

,Occupation,family_history,treatment,Growing_Stress,Changes_Habits,Mental_Health_History,Coping_Struggles,Work_Interest,Social_Weakness,Gender_Female,Gender_Male,self_employed_No,self_employed_Yes,mental_health_interview_No,mental_health_interview_Yes,care_options_No,care_options_Yes
0,Corporate,0,1,1.0,0.0,1.0,0,0.0,1.0,1,0,0,0,1,0,0,0
1,Corporate,1,1,1.0,0.0,1.0,0,0.0,1.0,1,0,0,0,1,0,1,0
2,Corporate,1,1,1.0,0.0,1.0,0,0.0,1.0,1,0,0,0,1,0,0,1
3,Corporate,1,1,1.0,0.0,1.0,0,0.0,1.0,1,0,1,0,0,0,0,1
4,Corporate,1,1,1.0,0.0,1.0,0,0.0,1.0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292359,Business,1,1,0.0,Unknown,0.0,1,0.0,Unknown,0,1,0,1,0,0,0,0
292360,Business,1,1,0.0,Unknown,0.0,1,0.0,Unknown,0,1,1,0,1,0,0,1
292361,Business,1,0,0.0,Unknown,0.0,1,0.0,Unknown,0,1,1,0,1,0,1,0
292362,Business,1,1,0.0,Unknown,0.0,1,0.0,Unknown,0,1,1,0,1,0,0,1
292363,Business,1,1,0.0,Unknown,0.0,1,0.0,Unknown,0,1,1,0,1,0,0,1

In [23]:
cols_with_unknowns = ['Changes_Habits', 'Mental_Health_History', 'Social_Weakness', 'Work_Interest']
df[cols_with_unknowns] = df[cols_with_unknowns].replace('Unknown', -1).astype(float)

df.drop(columns=[
    'Gender_Female',
    'self_employed_No',
    'mental_health_interview_No',
    'care_options_No'
], inplace=True)

C:\Users\Priyansh Singh\AppData\Local\Temp\ipykernel_22848\3444514581.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[cols_with_unknowns] = df[cols_with_unknowns].replace('Unknown', -1).astype(float)

In [24]:
df

,Occupation,family_history,treatment,Growing_Stress,Changes_Habits,Mental_Health_History,Coping_Struggles,Work_Interest,Social_Weakness,Gender_Male,self_employed_Yes,mental_health_interview_Yes,care_options_Yes
0,Corporate,0,1,1.0,0.0,1.0,0,0.0,1.0,0,0,0,0
1,Corporate,1,1,1.0,0.0,1.0,0,0.0,1.0,0,0,0,0
2,Corporate,1,1,1.0,0.0,1.0,0,0.0,1.0,0,0,0,1
3,Corporate,1,1,1.0,0.0,1.0,0,0.0,1.0,0,0,0,1
4,Corporate,1,1,1.0,0.0,1.0,0,0.0,1.0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
292359,Business,1,1,0.0,-1.0,0.0,1,0.0,-1.0,1,1,0,0
292360,Business,1,1,0.0,-1.0,0.0,1,0.0,-1.0,1,0,0,1
292361,Business,1,0,0.0,-1.0,0.0,1,0.0,-1.0,1,0,0,0
292362,Business,1,1,0.0,-1.0,0.0,1,0.0,-1.0,1,0,0,1
292363,Business,1,1,0.0,-1.0,0.0,1,0.0,-1.0,1,0,0,1

In [25]:
occupation_dummies = pd.get_dummies(df['Occupation'], prefix='Occupation')

# 2. Convert to 1/0 (if needed — usually already done by get_dummies)
occupation_dummies = occupation_dummies.astype(int)

# 3. Concatenate with the original DataFrame
df = pd.concat([df, occupation_dummies], axis=1)

# 4. Drop the original 'Occupation' column
df.drop(columns=['Occupation'], inplace=True)

In [26]:
df.dtypes

family_history                   int64
treatment                        int64
Growing_Stress                 float64
Changes_Habits                 float64
Mental_Health_History          float64
Coping_Struggles                 int64
Work_Interest                  float64
Social_Weakness                float64
Gender_Male                      int64
self_employed_Yes                int64
mental_health_interview_Yes      int64
care_options_Yes                 int64
Occupation_Business              int32
Occupation_Corporate             int32
Occupation_Housewife             int32
Occupation_Others                int32
Occupation_Student               int32
dtype: object

In [27]:
df

,family_history,treatment,Growing_Stress,Changes_Habits,Mental_Health_History,Coping_Struggles,Work_Interest,Social_Weakness,Gender_Male,self_employed_Yes,mental_health_interview_Yes,care_options_Yes,Occupation_Business,Occupation_Corporate,Occupation_Housewife,Occupation_Others,Occupation_Student
0,0,1,1.0,0.0,1.0,0,0.0,1.0,0,0,0,0,0,1,0,0,0
1,1,1,1.0,0.0,1.0,0,0.0,1.0,0,0,0,0,0,1,0,0,0
2,1,1,1.0,0.0,1.0,0,0.0,1.0,0,0,0,1,0,1,0,0,0
3,1,1,1.0,0.0,1.0,0,0.0,1.0,0,0,0,1,0,1,0,0,0
4,1,1,1.0,0.0,1.0,0,0.0,1.0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292359,1,1,0.0,-1.0,0.0,1,0.0,-1.0,1,1,0,0,1,0,0,0,0
292360,1,1,0.0,-1.0,0.0,1,0.0,-1.0,1,0,0,1,1,0,0,0,0
292361,1,0,0.0,-1.0,0.0,1,0.0,-1.0,1,0,0,0,1,0,0,0,0
292362,1,1,0.0,-1.0,0.0,1,0.0,-1.0,1,0,0,1,1,0,0,0,0
292363,1,1,0.0,-1.0,0.0,1,0.0,-1.0,1,0,0,1,1,0,0,0,0

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

X=df.drop(columns=["treatment"])
y=df["treatment"]

In [29]:
X

,family_history,Growing_Stress,Changes_Habits,Mental_Health_History,Coping_Struggles,Work_Interest,Social_Weakness,Gender_Male,self_employed_Yes,mental_health_interview_Yes,care_options_Yes,Occupation_Business,Occupation_Corporate,Occupation_Housewife,Occupation_Others,Occupation_Student
0,0,1.0,0.0,1.0,0,0.0,1.0,0,0,0,0,0,1,0,0,0
1,1,1.0,0.0,1.0,0,0.0,1.0,0,0,0,0,0,1,0,0,0
2,1,1.0,0.0,1.0,0,0.0,1.0,0,0,0,1,0,1,0,0,0
3,1,1.0,0.0,1.0,0,0.0,1.0,0,0,0,1,0,1,0,0,0
4,1,1.0,0.0,1.0,0,0.0,1.0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292359,1,0.0,-1.0,0.0,1,0.0,-1.0,1,1,0,0,1,0,0,0,0
292360,1,0.0,-1.0,0.0,1,0.0,-1.0,1,0,0,1,1,0,0,0,0
292361,1,0.0,-1.0,0.0,1,0.0,-1.0,1,0,0,0,1,0,0,0,0
292362,1,0.0,-1.0,0.0,1,0.0,-1.0,1,0,0,1,1,0,0,0,0
292363,1,0.0,-1.0,0.0,1,0.0,-1.0,1,0,0,1,1,0,0,0,0

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)
print("RF Accuracy:", accuracy_score(y_test, rf.predict(X_test)))

RF Accuracy: 0.703538385237631

In [32]:
import pandas as pd
importance = pd.Series(rf.feature_importances_, index=X.columns)
print(importance.sort_values(ascending=False))

family_history                 0.471511
care_options_Yes               0.308641
Gender_Male                    0.086735
self_employed_Yes              0.023430
mental_health_interview_Yes    0.019678
Work_Interest                  0.014709
Mental_Health_History          0.014099
Social_Weakness                0.013739
Changes_Habits                 0.013588
Growing_Stress                 0.013046
Coping_Struggles               0.006490
Occupation_Housewife           0.003044
Occupation_Business            0.002867
Occupation_Student             0.002860
Occupation_Others              0.002807
Occupation_Corporate           0.002754
dtype: float64

In [33]:
top_features = [
    'family_history',
    'care_options_Yes',
    'Gender_Male',
    'self_employed_Yes',
    'mental_health_interview_Yes'
]
X_train_top = X_train[top_features]
X_test_top = X_test[top_features]

from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=200, max_depth=5, random_state=42)
rf.fit(X_train_top, y_train)
print("RF Accuracy:", accuracy_score(y_test, rf.predict(X_test_top)))

RF Accuracy: 0.7117644040839362

In [36]:
# import joblib

# joblib.dump(rf, 'model.pkl')
# print("Model saved as model.pkl")

In [35]:
FULL_FEATURES = [
    'family_history',
    'Growing_Stress',
    'Changes_Habits',
    'Mental_Health_History',
    'Coping_Struggles',
    'Work_Interest',
    'Social_Weakness',
    'Gender_Male',
    'self_employed_Yes',
    'mental_health_interview_Yes',
    'care_options_Yes',
    'Occupation_Business',
    'Occupation_Corporate',
    'Occupation_Housewife',
    'Occupation_Others',
    'Occupation_Student'
]

X_train_full = X_train[FULL_FEATURES]
X_test_full = X_test[FULL_FEATURES]

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import joblib 

rf_full = RandomForestClassifier(n_estimators=200, max_depth=5, random_state=42)
rf_full.fit(X_train_full, y_train)

print("RF Full Features Accuracy:", accuracy_score(y_test, rf_full.predict(X_test_full)))

joblib.dump(rf_full, 'model.pkl')
print("New model (trained with full features) saved as model.pkl")

RF Full Features Accuracy: 0.7117644040839362
New model (trained with full features) saved as model.pkl